.first_header {
  font-family: "Overpass";
  font-weight: 700;
  font-style: Bold;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0px;
  color: white;
}

.first_sub_header {
  font-family: "Overpass";
  font-weight: 400;
  font-style: Regular;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0px;
  color: rgba(150, 159, 173, 1);
}

.header {
  display: flex;
  flex-direction: column;
  gap: 7px;
  text-align: start;
}
