.final_text {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 7px;
}

.final_text > p {
  font-family: "Overpass";
  font-weight: 400;
  font-style: Regular;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: rgba(150, 159, 173, 1);
}

.final_text > h1 {
  font-family: "Overpass";
  font-weight: 700;
  font-style: Bold;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 1);
}
