.selectedText > p {
  font-family: "Overpass";
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: rgba(252, 118, 20, 1);
}

.selectedText {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 193px;
  height: 32px;
  border-radius: 22.5px;
  background-color: rgba(38, 46, 56, 1);
}
