.submit {
  max-width: 341px;
  width: 100%;
  height: 45px;
  border-radius: 22.5px;
  background-color: rgba(252, 118, 20, 1);
  font-family: "Overpass";
  font-weight: 450;
  font-style: Bold;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  border: none;
}

.submit:hover {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(252, 118, 20, 1);
}
