.rating_container {
  width: 412px;
  height: 416px;
  border-radius: 30px;
  border: 1px solid black;
  background: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
}
